<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ListenerExample</display-name>
	<filter>
		<description>
		</description>
		<display-name>ExampleOnFilter</display-name>
		<filter-name>ExampleOnFilter</filter-name>
		<filter-class>com.ibm.filter.ExampleOnFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ExampleOnFilter</filter-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>com.ibm.listeners.ExampleOnServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ibm.listeners.ExampleOnHttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>HelloServlet</display-name>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.ibm.listenerExample.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnSession1</display-name>
		<servlet-name>ExampleOnSession1</servlet-name>
		<servlet-class>com.ibm.session.ExampleOnSession1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnSession2</display-name>
		<servlet-name>ExampleOnSession2</servlet-name>
		<servlet-class>com.ibm.session.ExampleOnSession2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.ibm.filter.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOnSession1</servlet-name>
		<url-pattern>/ExampleOnSession1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOnSession2</servlet-name>
		<url-pattern>/ExampleOnSession2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
