<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeProject</display-name>
  <servlet>
    <servlet-name>employee</servlet-name>
    <servlet-class>com.ibm.EmployeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/ed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleOnServletConfig</display-name>
    <servlet-name>ExampleOnServletConfig</servlet-name>
    <servlet-class>com.ibm.ExampleOnServletConfig</servlet-class>
    
    <init-param>
    <param-name>drv</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    
    <init-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    
     <init-param>
    <param-name>username</param-name>
    <param-value>scott</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleOnServletConfig</servlet-name>
    <url-pattern>/escfg</url-pattern>
  </servlet-mapping>
</web-app>