<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="p" class="com.demo.Passanger" >
		<constructor-arg index="0"  name="name" value="raja" type="java.lang.String"/>
		<constructor-arg index="1" name="vehical" ref="vehical" type="com.demo.Vehical"/>
	</bean>
	<bean id="vehical" class="com.demo.Car"/>
	
</beans>
