<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ServletExample2</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnCookieOne</display-name>
		<servlet-name>ExampleOnCookieOne</servlet-name>
		<servlet-class>com.ibm.cookieExample.ExampleOnCookieOne</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOfCookieTwo</display-name>
		<servlet-name>ExampleOfCookieTwo</servlet-name>
		<servlet-class>com.ibm.cookieExample.ExampleOfCookieTwo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnHidden1</display-name>
		<servlet-name>ExampleOnHidden1</servlet-name>
		<servlet-class>com.ibm.HiddenVriableExample.ExampleOnHidden1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnHiddenServlet2</display-name>
		<servlet-name>ExampleOnHiddenServlet2</servlet-name>
		<servlet-class>com.ibm.HiddenVriableExample.ExampleOnHiddenServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnUrl1</display-name>
		<servlet-name>ExampleOnUrl1</servlet-name>
		<servlet-class>com.ibm.urlRewriting.ExampleOnUrl1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExampleOnUrl2</display-name>
		<servlet-name>ExampleOnUrl2</servlet-name>
		<servlet-class>com.ibm.urlRewriting.ExampleOnUrl2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExampleOnCookieOne</servlet-name>
		<url-pattern>/ExampleOnCookieOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOfCookieTwo</servlet-name>
		<url-pattern>/ExampleOfCookieTwo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOnHidden1</servlet-name>
		<url-pattern>/ExampleOnHidden1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOnHiddenServlet2</servlet-name>
		<url-pattern>/ExampleOnHiddenServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOnUrl1</servlet-name>
		<url-pattern>/ExampleOnUrl1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleOnUrl2</servlet-name>
		<url-pattern>/ExampleOnUrl2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
